<!-- templates/image_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
            <li><a href="/random">Random</a></li>
          </ul>
      </nav>
  </header>
    <div class="container">
        <div class="image-details">
          <div class="image-container">
            <img src="{{ image['Image URL'] }}" alt="{{ image['Title'] }}" class="detail-img">
          </div>
            <h2 class="detail-title">{{ image['Title'] }}</h2>
            <p class="date">{{ image['Date'] }}</p>
            <p class="description">{{ image['Explanation'] }}</p>
        </div>
    </div>
  <footer>
    <div class="container">
      <div class="technologies">
        <h3>Powered By</h3>
        <img src="{{ url_for('static', filename='MDB-a12554b6.png') }}" alt="MongoDB" class="mongodb">
        <img src="{{ url_for('static', filename='flask-logo-png-transparent.png') }}" alt="Flask" class="flask">
        <!-- Add more logos as needed -->
      </div>
    </div>
  </footer>
</body>
</html>
