<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <div class="image-container">
            <img src="{{ image['Image URL'] }}" alt="NASA Image of the Day" class="image" id="apod-image">
            <div class="image-overlay" id="image-overlay">
                <p class="image-title">{{ image['Title'] }}</p>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>
