<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astronomy Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/random">Random</a></li>
            </ul>
        </nav>
    </header>

  <div class="container">
    <!-- Search Form -->
    <form id="searchForm" method="POST" action="/search" class="search-form">
      <select id="searchDate" name="searchDate" class="search-select" required>
        <option value="" disabled selected>Select a date</option>
        {% for date in available_dates %}
          <option value="{{ date }}">{{ date }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>

    <div class="container">
        <div class="main-img">
            <a href="/image_details/{{ image['_id'] }}">
                <img src="{{ image['Image URL'] }}" alt="NASA Image of the Day" class="image" id="apod-image">
            </a>
            <div class="tooltip">{{ image['Title'] }}</div> <!-- Tooltip -->
        </div>

        <div class="img-1 small-img">
            <a href="/image_details/{{ image_1['_id'] }}">
                <img src="{{ image_1['Image URL'] }}" alt="NASA Image of the Day as of yesterday." class="image_1" id="apod-image">
            </a>
            <div class="tooltip">{{ image_1['Title'] }}</div> <!-- Tooltip -->
        </div>

        <div class="img-2 small-img">
            <a href="/image_details/{{ image_2['_id'] }}">
                <img src="{{ image_2['Image URL'] }}" alt="NASA Image of the Day as of yesterday." class="image_2" id="apod-image">
            </a>
            <div class="tooltip">{{ image_2['Title'] }}</div> <!-- Tooltip -->
        </div>
    </div>

    <!-- Container 2 -->

    <div class="container">
      <div class="main-img">
          <a href="/image_details/{{ image_3['_id'] }}">
              <img src="{{ image_3['Image URL'] }}" alt="NASA Image of the Day" class="image" id="apod-image">
          </a>
          <div class="tooltip">{{ image_3['Title'] }}</div> <!-- Tooltip -->
      </div>

        <div class="img-4 small-img">
            <a href="/image_details/{{ image_4['_id'] }}">
                <img src="{{ image_4['Image URL'] }}" alt="NASA Image of the Day as of yesterday." class="image_1" id="apod-image">
            </a>
            <div class="tooltip">{{ image_4['Title'] }}</div> <!-- Tooltip -->
        </div>

        <div class="img-5 small-img">
            <a href="/image_details/{{ image_5['_id'] }}">
                <img src="{{ image_5['Image URL'] }}" alt="NASA Image of the Day as of yesterday." class="image_2" id="apod-image">
            </a>
            <div class="tooltip">{{ image_5['Title'] }}</div> <!-- Tooltip -->
        </div>
    </div>

    <!-- Container 3 -->

    <div class="container">
      <div class="main-img">
          <a href="/image_details/{{ image_6['_id'] }}">
              <img src="{{ image_6['Image URL'] }}" alt="NASA Image of the Day" class="image" id="apod-image">
          </a>
          <div class="tooltip">{{ image_6['Title'] }}</div> <!-- Tooltip -->
      </div>

        <div class="img-7 small-img">
            <a href="/image_details/{{ image_7['_id'] }}">
                <img src="{{ image_7['Image URL'] }}" alt="NASA Image of the Day as of yesterday." class="image_1" id="apod-image">
            </a>
            <div class="tooltip">{{ image_7['Title'] }}</div> <!-- Tooltip -->
        </div>

        <div class="img-8 small-img">
            <a href="/image_details/{{ image_8['_id'] }}">
                <img src="{{ image_8['Image URL'] }}" alt="NASA Image of the Day as of yesterday." class="image_2" id="apod-image">
            </a>
            <div class="tooltip">{{ image_8['Title'] }}</div> <!-- Tooltip -->
        </div>
    </div>

  <footer>
    <div class="container">
      <div class="technologies">
        <h3>Powered By</h3>
        <img src="{{ url_for('static', filename='MDB-a12554b6.png') }}" alt="MongoDB" class="mongodb">
        <img src="{{ url_for('static', filename='flask-logo-png-transparent.png') }}" alt="Flask" class="flask">
      </div>
    </div>
  </footer>

</body>
</html>
